body{
    margin:0;
    padding:0;
}
.left_section , .right_section{
    width:50%;
    height:100px;
    float: left;

}
#myform{
    background-color: rgb(19, 230, 177);
    padding:15px;
    display: none;
    background-color: ;
}
#add_author{
    position: absolute;
    top:35vh;
    left:30vh; 
    padding:8vh 10vh;
    font-size: 40px;
}
#myform h1{
    background-color: rgb(38, 177, 38);
    color:white;padding:0 41.7vh;
    text-align: center;
    padding:3vh 0;
}
#submit-btn, #add-book{
    width:100%;
    margin-top:5px;
    font-size:20px;
}
#book{
    width:95.4vh;
    margin-bottom:10px;
    height:65vh;
    padding:2vh 1vh;
}
#bookname, #bookprice1, #bookdesc, #bookdate, #bookISBN
{
    /* display:block; */
    border-radius: 5px;
    border:none;
    margin:15px 0;
    margin-left:15vh;
    width: 72%;
    padding:7px;
}
#bookdate{
    margin-left:10vh;
    width: 73%;
}
#c_box_div{
    margin-left:15vh;
    display:inline;
}
.remove-btn{
    width:100%;
    margin:10px 0;
    height:5vh;
    font-size:20px;
    background-color: red;
    color:white;
    border-radius: 5px;
    border:none;
}
table {
    width: 80%;
    margin: auto;
}
th,td{
    border-top: 1px solid rgb(233, 214, 214);
    text-align: center;
    padding:10px 0 10px 0;
}
.right_section h2{
    font-size: 35px;
    text-align: center;
    margin-top:30vh;
    margin-bottom:0;
}